<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>思想政治教育智能帮手</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="src/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/css/custom.css">
</head>

<body>
  <!-- Navbar fixed-top -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #126556;">
    <a class="navbar-brand" href="#">
              <img src="src/img/logo.png" width="30" height="30" alt="">
              思想政治教育智能帮手
            </a>
    <button class="navbar-toggler" type="button" data-toggle="auto" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">首页</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">素材集锦 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  快速跳转
                </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="warning.html">预警研判</a>
            <a class="dropdown-item" href="design.html">创意设计</a>
            <a class="dropdown-item" href="material.html">素材集锦</a>
            <a class="dropdown-item" href="question.html">疑难会诊</a>
            <a class="dropdown-item" href="recommend.html">我要推荐</a>
            <a class="dropdown-item" href="link.html">经典链接</a>
            <a class="dropdown-item" href="collaborate.htnl">云协作</a>
          </div>

          <li class="nav-item">
            <a class="nav-link" href="#">使用说明</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">
              登录/注册
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-item nav-link" href="#">
              通知中心
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#"  data-toggle="popover"  data-placement="bottom"
          data-content="这是素材筐" data-trigger="focus" data-html="true">
                素材筐
              </a>
        </li>


      </ul>
      <a class="btn btn-success" href="#">投稿</a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-xs-1 p-l-0 p-r-0 collapse in show" id="sidebar">

        <input type="search" class="form-control ds-input" id="search-input-theme" placeholder="搜索理想信念教育...">
        <hr>
        <div class="list-group panel">
          <a href="#" class="list-group-item active">理想信念教育</a>
          <a href="#" class="list-group-item">筑牢军魂教育</a>
          <a href="#" class="list-group-item">传统作风教育</a>
          <a href="#" class="list-group-item">战斗精神教育</a>
          <a href="#" class="list-group-item">教育主题5</a>
          <a href="#" class="list-group-item">教育主题6</a>
          <a href="#" class="list-group-item">教育主题7</a>
          <a href="#" class="list-group-item">教育主题8</a>
          <a href="#" class="list-group-item">教育主题9</a>
          <a href="#" class="list-group-item">教育主题10</a>
          <a href="#" class="list-group-item">教育主题11</a>
          <a href="#" class="list-group-item">教育主题12</a>
          <a href="#" class="list-group-item">教育主题13</a>
          <a href="#" class="list-group-item">教育主题14</a>
          <a href="#" class="list-group-item">教育主题15</a>
          <a href="#" class="list-group-item">教育主题16</a>
          <a href="#" class="list-group-item">教育主题17</a>
          <a href="#" class="list-group-item">教育主题18</a>
          <a href="#" class="list-group-item">教育主题19</a>
          <a href="#" class="list-group-item">教育主题20</a>
          <a href="#" class="list-group-item">教育主题21</a>
          <a href="#" class="list-group-item">教育主题22</a>
        </div>
      </div>
      <main class="col-md-10 col-xs-11 p-l-2 p-t-2 main ml-auto">
        <!-- <a href="#sidebar" data-toggle="collapse">toggle</a>
        <hr> -->

        <div class="page-header">
          <h1>理想信念教育</h1>
          <hr>
        </div>
        <!-- <div class="content"> -->
        <nav class="nav nav-tabs" id="materialTab" role="tablist">
          <a class="nav-item nav-link active" id="nav-sp1-tab" data-toggle="tab" href="#nav-sp1" role="tab" aria-controls="nav-sp1"
            aria-expanded="true">领袖讲话</a>
          <a class="nav-item nav-link" id="nav-pic1-tab" data-toggle="tab" href="#nav-pic1" role="tab" aria-controls="nav-pic">图片</a>

        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-sp1" role="tabpanel" aria-labelledby="nav-sp1-tab">
            
            <div class="result-summury">
              <span>找到约 418,000 条结果 （用时 0.51 秒）</span>

              <button type="button" class="btn btn-green btn-sm">发表时间</button>

              <button type="button" class="btn btn-green btn-sm">浏览次数</button>

            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>标题</th>
                  <th>时间</th>
                  <th>标签</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                      <a href="#" class="superPopover" data-toggle="popover" data-placement="right"
                         data-content="这是内容">讲话1</a>
                  </td>
                  <td>Otto</td>
                  <td>
                    <a href="#" class="badge badge-success">艰苦奋斗</a>
                    <a href="#" class="badge badge-success">筑牢军魂</a>
                    
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>

                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation sp1">
                <ul class="pagination  justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                    </li>
                    <li class="page-item "><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                    </li>
                </ul>
            </nav>
            
          </div>
          <div class="tab-pane fade" id="nav-pic1" role="tabpanel" aria-labelledby="nav-pic1-tab">
              <div class="result-summury">
                  <span>找到约 418,000 条结果 （用时 0.51 秒）</span>

                  <button type="button" class="btn btn-green btn-sm">发表时间</button>

                  <button type="button" class="btn btn-green btn-sm">浏览次数</button>

              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3 img-box">
                      <img src="src/img/001-1.jpg" class="img-thumbnail superPopover" data-toggle="popover" data-content="这是内容" width="220" height="150"
                          class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/002-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/003-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/004-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/005-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/006-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/007-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
                  <div class="col-md-3 img-box">
                      <img src="src/img/008-1.jpg" class="img-thumbnail" width="220" height="150" class="img-responsive" alt="Generic  thumbnail">
                      <h5></h5>
                      <span>这是标题</span>
                  </div>
              </div>
              <nav aria-label="Page navigation pic1">
                  <ul class="pagination  justify-content-end">
                      <li class="page-item disabled">
                          <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                      </li>
                      <li class="page-item "><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                      </li>
                  </ul>
              </nav>
          </div>
          </div>

        </div>
      </main>
    </div>
  </div>

  <a href="#top" id ="backToTopBtn" class="well well-sm">top</a>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="src/js/jquery-3.2.1.min.js"></script>
  <script src="src/js/propper.js"></script>

  <script src="src/js/bootstrap.min.js"></script>
  <script src="src/js/custom.js"></script>
</body>

</html>