<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>test</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/custom.css">
</head>

<body>
  
    


    <script src="src/js/jquery-3.2.1.min.js"></script>
    <script src="src/js/propper.js"></script>

    <script src="src/js/bootstrap.min.js"></script>
    <script src="src/js/custom.js"></script>
</body>

</html>