{% extends "common.html" %}
{% load static %}

{% block main %}

<div class="container-fluid main-wrapper">
    <nav class="nav nav-tabs  nav-justified" id="materialTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-sp1-tab" data-toggle="tab" href="#nav-sp1" role="tab"
           aria-controls="nav-sp1"
           aria-expanded="true">历年累计预警</a>
        <a class="nav-item nav-link" id="nav-sp2-tab" data-toggle="tab" href="#nav-sp2" role="tab"
           aria-controls="nav-sp2" aria-expanded="true">调查问卷</a>
        <a class="nav-item nav-link disabled" id="nav-sp3-tab" data-toggle="tab" href="#nav-sp3" role="tab"
           aria-controls="nav-sp3"
           aria-expanded="true">思想动态</a>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-sp1" role="tabpanel" aria-labelledby="nav-sp1-tab">
            <!-- 这是历年累计预警 -->

            <div class="result">
                <h4>摘要</h4>
                <hr>
                <div class="card-deck mb-3">
                    {% for card in cards_with_figure %}
                    <div class="card">
                        <div class="card-header  text-center text-white bg-info ">{{ card.0 }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ card.1|safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-deck justify-content-md-center col-8">
                    {% for card in cards %}
                    <div class="card col">
                        <div class="card-header  text-center text-white bg-info">{{ card.0 }}</div>
                        <div class="card-body">
                            <ul>
                                {% for i in card.1 %}
                                <li>{{ i }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}


                </div>

            </div>
            <div class="result">
                <h4>任务特点</h4>
                <hr>
            </div>


        </div>
        <div class="tab-pane fade show" id="nav-sp2" role="tabpanel" aria-labelledby="nav-sp2-tab">

            <div class="list-group">
                <div class="list-group-item list-group-item-custom">
                    <div class="d-flex w-100 justify-content-between">
                        <span>问卷名称</span>
                        <span>创建单位</span>
                        <span>开放时间</span>
                    </div>
                </div>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex row">
                        <span class="col">问卷标题</span>
                        <span class="col text-center">admin</span>
                        <span class="col text-right">2017/12/11~2017/12/22</span>
                    </div>
                </a>

            </div>
        </div>
        <div class="tab-pane fade show" id="nav-sp3" role="tabpanel" aria-labelledby="nav-sp3-tab">
            这是思想动态
        </div>
    </div>

</div>

{% endblock %}

