{% load icon %}

<div class="result-summary">
    <!--<span>找到约 418,000 条结果 （用时 0.51 秒）</span>-->
    <!--<button type="button" class="btn btn-green btn-sm">发表时间</button>-->

    <!--<button type="button" class="btn btn-green btn-sm">浏览次数</button>-->

</div>

{% for i, j in q %}
<div class="item">
    <span class="d-inline-block">
        <a class="js_post_modal link" data-pid="{{i.id}}" data-type="t" data-name="{{i.title}}">{{i.title}}</a>
        <a href="/uploads/file_download/{{j}}?pid={{i.id}}">
            {% svg_icon "download" "icon-md"%}
        </a>
    </span>
    <p class="post-info">{{ i.date }}/{{i.click_num}}次查看，{{i.download_num}}次下载</p>
    <span class="intro">{{ i.content }}</span>
    <hr>
</div>
{% endfor %}
{% include 'paginator.html' %}
