{% extends "common.html" %}
{% load static %}
{% load icon %}

{% block main %}
<div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="festivalModalTitle">file.title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                。。。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid main p-2">
    <div class="container-fluid col-10 content">

        <div class="col-8">
            <nav class="nav nav-tabs" id="materialTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-sp1-tab" data-toggle="tab" href="#nav-sp1" role="tab"
                   aria-controls="nav-sp1"
                   aria-expanded="true">筹划设计</a>
                <a class="nav-item nav-link" id="nav-sp2-tab" data-toggle="tab" href="#nav-sp2" role="tab"
                   aria-controls="nav-sp2" aria-expanded="true">模版创意</a>
                <a class="nav-item nav-link" id="nav-card1-tab" data-toggle="tab" href="#nav-card1" role="tab"
                   aria-controls="nav-card1"
                   aria-expanded="true">方法形式</a>
                <a class="nav-item nav-link" id="nav-pic1-tab" data-toggle="tab" href="#nav-pic1" role="tab"
                   aria-controls="nav-pic1">
                    课件样式</a>

            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-sp1" role="tabpanel" aria-labelledby="nav-sp1-tab">
                    <div class="result-summury">
                        <span>找到约 418,000 条结果 （用时 0.51 秒）</span>

                        <button type="button" class="btn btn-green btn-sm">发表时间</button>

                        <button type="button" class="btn btn-green btn-sm">浏览次数</button>

                    </div>

                    {% for q in q %}

                    <div class="item">
                        <p class="d-inline-block">
                            <a class="post_modal" q_id="{{q.0}}" q_name="{{q.1}}"
                               style="cursor:hand; color: #007bff">{{q.1}}</a>
                            &nbsp;
                            <a href="/media/{{q.2}}">
                                {% svg_icon "download" "icon-md"%}
                            </a>
                        </p>
                        <p class="post-info">{{ q.date }}11人查看，23人下载</p>
                        <div class="intro">{{ q.content }}</div>
                        <hr>
                    </div>
                    {% endfor %}

                    <nav aria-label="Page navigation questionnaire">

                        <ul class="pagination  justify-content-end">

                            <li class="page-item {% if not q.has_previous %}disabled{%endif%}">
                                <a class="page-link warning-sp2-page" href="#"
                                   aria-label="{% if q.has_previous %}{{q.previous_page_number}}{%endif%}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link" href="#">第{{ q.number }}页 / 共
                                {{ q.paginator.count }}页</a></li>
                            <li class="page-item {% if not q.has_next %}disabled{%endif%}">
                                <a class="page-link  warning-sp2-page " href="#"
                                   aria-label="{% if q.has_next %}{{q.next_page_number}}{%endif%}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="tab-pane fade" id="nav-sp2" role="tabpanel" aria-labelledby="nav-sp2-tab">


                </div>
                <div class="tab-pane fade" id="nav-card1" role="tabpanel" aria-labelledby="nav-card1-tab">

                </div>
                <div class="tab-pane fade" id="nav-pic1" role="tabpanel" aria-labelledby="nav-pic1-tab">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block echarts %}
<script type="text/javascript">

    $(document).on('click', '.post_modal', function () {
        var id = $(this).attr("q_id");
        var name = $(this).attr("q_name");
        $.get("/creative/detail/?type=t&&id=" + id, function (data) {
            $(".modal-title").html(name);
            $(".modal-body").html(data);
            $('#PostModal').modal("show");
        });

    })

</script>
{% endblock %}