<div class="result-summary">
    <span>找到约 418,000 条结果 （用时 0.51 秒）</span>

    <button type="button" class="btn btn-green btn-sm">发表时间</button>

    <button type="button" class="btn btn-green btn-sm">浏览次数</button>

</div>
<hr>
<div class="card-columns">
    {% for x, i, f, v in q %}
    <div class="card">
        {% if i %}
        <img class="card-img-top" src="/media/{{i.0.file}}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h4 class="card-title">
                <a class="js_post_modal link" data-pid="{{x.id}}"
                   data-fid="{%if v %}{{v.0.id}}{%else%}{{f.0.id}}{%endif%}"
                   data-type="m" data-name="{{x.title}}">{{x.title}}</a>
            </h4>
            <p class="card-text">{{x.content}}</p>
            <!--<p class="card-text">-->
                <!--<small class="text-muted">Last updated 3 mins ago</small>-->
            <!--</p>-->
        </div>
    </div>
    {% endfor %}

</div>
{% include 'paginator.html' %}
