:root {
    --main-bg-color: #3fb1e3;
    --content-bg-color: #fff;
    --main-color: #000;
    --color-1: #3fb1e3;
    --color-2: #6be6c1;
    --color-3: #626c91;
    --color-4: #a0a7e6;
    --color-5: #c4ebad;
    --color-6: #96dee8;
}
/*icon style*/
.svg-white {
    fill: var(--content-bg-color);
}
.svg-blue {
    fill: var(--color-1);
}
.svg-sprite {
    display: none;
}
.icon-sm {
    width:1em;
    height: auto;
}
.icon-md {
    width:1.5em;
    height: auto;
}
.icon-lg {
    height: 1.7em;
    width: auto;
    fill: white;
}
.icon-success {
    fill: var(--color-2);
    height: 10em;
    width: auto;
}

/*sidebar*/
#sidebar {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.list-group-item {
    padding: 1.25em;
}
.list-group-item-custom {
    color: var(--content-bg-color);
    background-color: var(--main-bg-color)!important;
    border: none;
}
#sidebar .list-group {
    overflow-y: scroll;
    /*height: auto;*/
}

#sidebar.list-group-item {
    padding: 0;
}

#sidebar a {
    color: rgba(0, 0, 0, .65);
    padding: 0.5em 0.75em;
    background-color: var(--content-bg-color);
}

#sidebar a.active {
    color: var(--content-bg-color);
    background-color: #c1232b;
    font-weight: bold;
    border: none;
}
/*navbar*/
.navbar-brand img {
    height: 40px;
}

/*card deck*/
.card-deck .col {
    padding: 0;
}
.card-header:first-child {
    border-radius: 0;
    background-color: var(--main-bg-color);
}

/*tab*/
.tab-content {
    background-color: var(--content-bg-color);
    border: 1px solid #ddd;
    border-top: none;
    padding: 1em;
    margin-bottom: 1.5em;
}
.questionnaire {
    background-color: var(--content-bg-color);
    padding: 1em 1.5em 0.5em;
    margin-bottom: 1em;
}
.result-summary {
    padding-left: 0.5em;
    padding-right: 1em;
}

.result-summary span {
    display: inline-block;
    margin: 0;
}

.tab-pane .table {
    margin-top: 1em;
}

.main {
    background-color: var(--content-bg-color);
    margin: 0;
}

.page-header {
    padding-top: 1em;
}

.img-box {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

#backToTopBtn {
    display: none; /* Hidden by default*/
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #748381; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

.tab-content table {
    border-bottom: 1px solid #eee;
}

#backToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.page-link {
    border: none;
}


.result {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main-wrapper {
    padding: 0;
    width: 77%;
    min-width: 1000px;

}
.content {
    margin-top: 14px;
    /*color: var(--content-bg-color);*/
}

.card-columns {
    column-gap: 2rem;
}
li, li a, span, span a {
    display: inline-block;

    vertical-align: middle;
}
.table-custom th, .table-custom td {
    vertical-align: middle;
    padding: 1.5em;
    border: 0;
}
.table-custom td a {
    display: inline-block;
    vertical-align: middle;
}

.table-custom td a {
    display: inline-block;
    vertical-align: middle;
}
.table-custom thead {
    background-color: var(--main-bg-color);
    color: var(--content-bg-color);
}

.table-custom .row {
    margin: 0;
}

.main-wrapper.tab-content.card-columns {
    column-count: 3;
}

.pagination {
    margin-top: 1.25em;
}
.red {
    color: red;
}
.options {
    padding-bottom: 0.5em;
}

.tight-bottom {
    padding-bottom: 0;
    margin-bottom: -1em;
}
/*a 手型*/
a {
    cursor: hand;
}

body {
    padding-top: 66px;
    background-color: #f5f5f5;
}