:root {
    --main-bg-color: #3fb1e3;
    --content-bg-color: #fff;
    --main-color: #000;
    --color-1: #3fb1e3;
    --color-2: #6be6c1;
    --color-3: #626c91;
    --color-4: #a0a7e6;
    --color-5: #c4ebad;
    --color-6: #96dee8;
}
.svg-white {
    fill: var(--content-bg-color);
}
.svg-blue {
    fill: var(--color-1);
}
#sidebar {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.icon-sm {
    width:1em;
    height: auto;
}
.icon-md {
    width:1.5em;
    height: auto;
}

.icon-lg {
    height: 1.7em;
    width: auto;
    fill: white;
}

.icon-success {
    fill: var(--color-2);
    height: 10em;
    width: auto;
}

.svg-sprite {
    display: none;
}

.navbar-brand img {
    height: 40px;
}

.card-header:first-child {
    border-radius: 0;
    background-color: var(--main-bg-color);

}

.card-deck .col {
    padding: 0;
}

.list-group-item {
    padding: 1.25em;
}
.list-group-item-custom {
    color: #fff;
    background-color: var(--main-bg-color)!important;
    border: none;
}

#sidebar .list-group {
    overflow-y: scroll;
    /*height: auto;*/
}

.main-wrapper.tab-content {
    border: none;
}

#sidebar.list-group-item {
    padding: 0;
}

#sidebar a {
    color: rgba(0, 0, 0, .65);
    padding: 0.5em 0.75em;
    background-color: #fff;
}

#sidebar a.active {
    color: #fff;
    background-color: #c1232b;
    font-weight: bold;
    border: none;
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

#sidebar.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
}

.questionnaire {
    background-color: #fff;
    padding: 1em 1.5em 0.5em;
    margin-bottom: 1em;
}
.tab-content {
    background-color: #fff;
    border: var(--content-border);
    border-top: none;
    padding: 1em;
    margin-bottom: 1.5em;
}

.result-summury {
    padding-left: 0.5em;
    padding-right: 1em;
}

.result-summury span {
    display: inline-block;
    margin: 0;
}

.tab-pane .table {
    margin-top: 1em;
}

.main {
    background-color: #fff;
}

.page-header {
    padding-top: 1em;
}

.btn-green {
    color: #fff;
    background-color: #c1232b;
    border-color: #c1232b;
}

.img-box {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

#backToTopBtn {
    display: none; /* Hidden by default*/
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #748381; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

.tab-content table {
    border-bottom: 1px solid #eee;
}

#backToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.page-link {
    border: none;
}

.card-columns {
    column-gap: 2rem;
    /* column-count: 4; */
}

.result {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main-wrapper {
    padding: 0;
    width: 77%;
    min-width: 1000px;
}

.main-wrapper.tab-content {
    border: 1px solid #ddd;
}

li, li a {
    vertical-align: middle;
}
.table-custom th, .table-custom td {
    vertical-align: middle;
    padding: 1.5em;
    border: 0;
}
.table-custom td a {
    display: inline-block;
    vertical-align: middle;
}

.table-custom td a {
    display: inline-block;
    vertical-align: middle;
}
.table-custom thead {
    background-color: var(--main-bg-color);
    color: var(--content-bg-color);
}

.table-custom .row {
    margin: 0;
    /*border: var(--content-border);*/
    /*border-top: none;*/

}

.main-wrapper.tab-content.card-columns {
    column-count: 3;
}

.pagination {
    margin-top: 1.25em;
}
.red {
    color: red;
}
.options {
    padding-bottom: 0.5em;
}

.tight-bottom {
    padding-bottom: 0;
    margin-bottom: -1em;
}

body {
    padding-top: 80px;
    background-color: #f5f5f5;
}