{% load icon %}
<div class="p-3">
    <table class="table table-hover table-custom border" cellspacing="0" cellpadding="0">
        <thead>
        <tr  class="row">
            <th class="d-inline-block col-1">#</th>
            <th class="d-inline-block col-4">问卷名称</th>
            <th class="d-inline-block col-4">创建单位</th>
            <th class="d-inline-block col-3">开放时间</th>

        </tr>
        </thead>
        {% for q in q %}
        <tr class="row">
            <th class="d-inline-block col-1">{{ forloop.counter }}</th>
            <td class="d-inline-block col-4">
                <a href="questionnaire/{{q.id}}/" target="_blank">{{ q.title }}</a>&nbsp;
                <a href="questionnaire/{{q.id}}/result/" target="_blank">
                    {% svg_icon "view" "icon-md"%}
                </a>
            </td>
            <td class="d-inline-block col-4">{{ q.creator }}</td>
            <td class="d-inline-block col-3">{{ q.date_range }}</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% include 'paginator.html' %}
