{% extends "common.html" %}
{% load static %}

{% block main %}

<div class="container-fluid main-wrapper">
    <nav class="nav nav-tabs  nav-justified" id="materialTab" role="tablist">
        <a class="nav-item nav-link active" id="warning-sp1-tab" data-toggle="tab" href="#warning-sp1" role="tab"
           aria-controls="warning-sp1"
           aria-expanded="true">历年累计预警</a>
        <a class="nav-item nav-link" id="warning-sp2-tab" data-toggle="tab" href="#warning-sp2" role="tab"
           aria-controls="warning-sp2" aria-expanded="true">调查问卷</a>
        <a class="nav-item nav-link disabled" id="warning-sp3-tab" data-toggle="tab" href="#warning-sp3" role="tab"
           aria-controls="warning-sp3"
           aria-expanded="true">思想动态</a>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="warning-sp1" role="tabpanel" aria-labelledby="warning-sp1-tab">
            <!-- 这是历年累计预警 -->
            <div class="result">
                <h4>摘要</h4>
                <hr>
                <div class="card-deck mb-3">
                    {% for card in cards_with_figure %}
                    <div class="card">
                        <div id='{{card.0}}_id' class="card-header text-center text-white" style="cursor:hand">{{ card.0 }}</div>

                        <div class="card-body">
                            <p class="card-text">{{ card.1|safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-deck">
                    {% for card in cards %}
                    <div class="card col">
                        <div class="card-header  text-center text-white">{{ card.0 }}</div>
                        <div class="card-body">
                            <ul>
                                {% for i in card.1 %}
                                <li>{{ i }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
            <div class="result">
                {% for i, j in charts %}
                {% if i.1 != 'null'  %}
                <h4 id="{{i.0}}">{{ i.0 }}</h4>
                <hr>
                <div class="row" style="height:20em">
                    <div id="main{{forloop.counter}}-1" class="col" >

                    </div>
                    <div id="main{{forloop.counter}}-2" class="col">

                    </div>
                </div>
                {% endif%}
                {% endfor %}

            </div>
        </div>


        <div class="tab-pane fade show" id="warning-sp2" role="tabpanel" aria-labelledby="warning-sp2-tab">
            这是调查问卷
        </div>
        <div class="tab-pane fade show" id="warning-sp3" role="tabpanel" aria-labelledby="warning-sp3-tab">
            这是思想动态
        </div>
    </div>

</div>

{% endblock %}

{% block echarts %}
<script type="text/javascript">

    var Chart;
    {% for i, j in charts %}
    var fig_box = $('#main{{forloop.counter}}-1');
    if (fig_box.length > 0) {
        $('#{{i.0}}_id').click(function () {
            $('html,body').animate({scrollTop: $('#{{i.0}}').offset().top - 80}, 200);
        });
        Chart = echarts.init(fig_box[0], 'walden');
        Chart.setOption({{ i.1 | safe }});
        Chart = echarts.init($('#main{{forloop.counter}}-2')[0], 'walden');
        Chart.setOption({{j.1 | safe}});
    }
    {% endfor %}

</script>
{% endblock %}

